<main>
  <section>
    <h3 class="section-title">Update item</h3>

    <div *ngIf="item; else elseBlock">
      <form [formGroup]="itemForm">
        <div class="row">
          <div class="col-4">
            <label class="form-label" for="name">Name</label>
            <input class="form-control form-input" id="name" name="name" formControlName="name" type="text"/>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <label class="form-label" for="description">Description</label>
            <textarea class="form-control form-textarea" id="description" name="description" formControlName="description"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-1">
            <label class="form-label" for="priceAmount">Price (in {{ item.price.currency | priceCurrency }})</label>
            <input class="form-control form-input" id="priceAmount" name="priceAmount" formControlName="priceAmount" type="number"/>
          </div>
          <div class="col-1">
            <label class="form-label" for="amountInStock">Amount in stock</label>
            <input class="form-control form-input" id="amountInStock" name="amountInStock" formControlName="amountInStock" type="number"/>
          </div>
        </div>
        <div class="row">
          <button class="col-4 btn btn-create" type="button" (click)="updateItem(item)">UPDATE</button>
          <button class="col-1 btn" type="button" [routerLink]="['/items', item.id]">CANCEL</button>
        </div>
      </form>
    </div>
    <ng-template #elseBlock>Loading</ng-template>
  </section>
</main>
