<main>
  <section>
    <h3 class="section-title">Create item</h3>

    <div>
      <form [formGroup]="itemForm">
        <div class="row">
          <div class="col-4">
            <label class="form-label" for="name">Name</label>
            <input class="form-control" id="name" name="name" formControlName="name" type="text"/>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <label class="form-label" for="description">Description</label>
            <input class="form-control" id="description" name="description" formControlName="description" type="text"/>
          </div>
        </div>
        <div class="row">
          <div class="col-1">
            <label class="form-label" for="priceAmount">Price (in {{ defaultCurrency | priceCurrency }})</label>
            <input class="form-control" id="priceAmount" name="priceAmount" formControlName="priceAmount" type="number"/>
          </div>
          <div class="col-1">
            <label class="form-label" for="amountInStock">Amount in stock</label>
            <input class="form-control" id="amountInStock" name="amountInStock" formControlName="amountInStock" type="number"/>
          </div>
        </div>
        <div class="row">
          <button class="col-4 btn btn-create" type="button" (click)="createItem()">CREATE</button>
          <button class="col-1 btn" type="button" [routerLink]="['/items']">CANCEL</button>
        </div>
      </form>
    </div>
  </section>
</main>
